@model GoiztiriWeb.Models.Jugador
@{
    //EL TITULO DE LA PAGINA QUE SE MUESTRA EN EL BUSCADOR
    ViewBag.Title = "Femenino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nombre</h2>

